<p id="notice"><%= notice %></p>

<p>
  <strong>Dni:</strong>
  <%= @citizen.dni %>
</p>

<p>
  <strong>Primer apellido:</strong>
  <%= @citizen.primer_apellido %>
</p>

<p>
  <strong>Segundo apellido:</strong>
  <%= @citizen.segundo_apellido %>
</p>

<p>
  <strong>Prenombres:</strong>
  <%= @citizen.prenombres %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @citizen.sexo %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @citizen.estado_civil %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @citizen.nacimiento %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @citizen.foto %>
</p>

<p>
  <strong>Sele1:</strong>
  <%= @citizen.sele1 %>
</p>

<p>
  <strong>Sele2:</strong>
  <%= @citizen.sele2 %>
</p>

<p>
  <strong>Sele3:</strong>
  <%= @citizen.sele3 %>
</p>

<p>
  <strong>Sele4:</strong>
  <%= @citizen.sele4 %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
